@import '_app.reset.scss';
.row {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  max-width: 100%;
	min-width: 100%;
}
.col-10 {
  flex: 0 0 10%;
	-webkit-flex: 0 0 10%;
  max-width: 10%;
	min-width: 10%;
}
.col-15 {
  flex: 0 0 15%;
	-webkit-flex: 0 0 15%;
  max-width: 15%;
	min-width: 15%;
}
.col-20 {
  flex: 0 0 20%;
	-webkit-flex: 0 0 20%;
  max-width: 20%;
	min-width: 20%;
}
.col-25 {
  flex: 0 0 25%;
	-webkit-flex: 0 0 25%;
  max-width: 25%;
	min-width: 25%;
}
.col-30 {
  flex: 0 0 30%;
	-webkit-flex: 0 0 30%;
  max-width: 30%;
	min-width: 30%;
}
.col-33{
  flex: 0 0 33%;
  -webkit-flex: 0 0 33%;
  max-width: 33%;
  min-width: 33%;
}
.col-35{
  flex: 0 0 35%;
  -webkit-flex: 0 0 35%;
  max-width: 35%;
  min-width: 35%;
}
.col-40 {
  flex: 0 0 40%;
	-webkit-flex: 0 0 40%;
  max-width: 40%;
	min-width: 40%;
}
.col-45 {
  flex: 0 0 45%;
  -webkit-flex: 0 0 45%;
  max-width: 45%;
  min-width: 45%;
}
.col-50 {
  flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
  max-width: 50%;
  min-width: 50%;
}
.col-60 {
  flex: 0 0 60%;
	-webkit-flex: 0 0 60%;
  max-width: 60%;
	min-width: 60%;
}
.col-65 {
  flex: 0 0 65%;
	-webkit-flex: 0 0 65%;
  max-width: 65%;
	min-width: 65%;
}
.col-70 {
  flex: 0 0 70%;
	-webkit-flex: 0 0 70%;
  max-width: 70%;
	min-width: 70%;
}
.col-75 {
  flex: 0 0 75%;
	-webkit-flex: 0 0 75%;
  max-width: 75%;
	min-width: 75%;
}
.col-80 {
  flex: 0 0 80%;
	-webkit-flex: 0 0 80%;
  max-width: 80%;
	min-width: 80%;
}
.col-85 {
  flex: 0 0 85%;
	-webkit-flex: 0 0 85%;
  max-width: 85%;
	min-width: 85%;
}
.col-90 {
  flex: 0 0 90%;
	-webkit-flex: 0 0 90%;
  max-width: 90;
	min-width: 90;
}
/*通用样式*/
.h1{
  font-size: 20px;
}
.h2{
  font-size: 18px;
}
.h3{
  font-size: 16px;
}
.h4{
  font-size: 14px;
}
.h5{
  font-size: 13px;
}
.h6{
  font-size: 12px;
}
.h-full{
  height: 100%;
}
.h-90{
  height: 90%;
}
.w-full{
  width: 100%;
}
.t-left{
  text-align: left!important;
}
.t-right{
  text-align: right!important;
}
.t-center{
  text-align: center!important;
}
.m-t{
  margin-top: 15px;
}
.f-right{
  float: right;
}
.f-right:after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.clearfix{
  *zoom:1;
  &::before,&::after { content:""; display:table;}
  &::after{clear:both;}
}
.font-gray{
  color: rgba(0, 0, 0, 0.6);
}
.inline{
  display: inline-block !important;
}
.no-bg{
  background: none;
}
.cPoint{
	cursor: pointer;
}
.vertical-middle{
	position: relative;
	padding-top: 50%;
	transform: translateY(-30%);
}
/*reset*/
a{
	text-decoration: none;
}
/*tool*/
@function calculate($n) {
  @return ($n/750)*18.75+rem;
}

.pd-bottom{
  padding-bottom: calculate(115);
}
.option-item{
  align-items: center;
  .iconfont{
    width: calculate(105);
    text-align: center;
    font-size: calculate(42);
    color: #d33a32;
  }
  .option-desc{
    flex: 1;
    height: calculate(103);
    line-height: calculate(103);
    border-bottom: 1px solid #e6e7e9;
    text-align: left;
    color: #333;
    font-size: calculate(29);
    i{
      font-style: normal;
      color: #a5a6a8;
    }
  }
}
.weui-toast{
  min-height: 0 !important;
  padding: 0 0 calculate(10);
}
.err{
  display: block;
  margin-bottom: calculate(10);
  font-size: calculate(30);
  color: #d33a32;
  text-align: center;
}
/*color*/
$white: #FFF;
$black: #000;
$red: #d33a32;
$nofocus: #e48a82;
$border: #e7e8ea;
$gray: #77787a;
$fontgray: #969696;